
<h3 style="text-align:center">Directive Page</h3>

<!--ngIF-->

<h3 *ngIf="shouldDisplayNGIF; else elseblock">
    NG If should display
</h3>
<ng-template #elseblock>
    <h3>
        NG If should not display
    </h3>
</ng-template>

<div *ngIf="shouldDisplayNGIF; then ifBlock; else elseBlock"></div>

<ng-template #ifBlock>
    <h3>if block</h3>
</ng-template>

<ng-template #elseBlock>
    <h3>else block</h3>
</ng-template>

<!--ngSwitch-->

<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">Red</div>
    <div *ngSwitchCase="'blue'">Blue</div>
    <div *ngSwitchCase="'green'">Green</div>
    <div *ngSwitchDefault>Default</div>
</div>

<!--ngFor-->

<ul>
    <div *ngFor="let name of names; index as i; first as f; last as l; odd as o">
        <li>{{f}} {{i}} {{name}} {{l}} {{o}}</li>
    </div>
</ul>

<div>
    From child component ({{parentData}})

    <button
        (click)="fireEvent()">Send data to child!</button>
</div>

<h3 style="text-align:center">Pipes</h3>

<h4>{{name | lowercase}}</h4>
<h4>{{name | uppercase}}</h4>
<h4>{{name | titlecase}}</h4>
<h4>{{name | slice:3:5}}</h4>
<h4>{{name | json}}</h4>

<h4>{{numValue | number:'1.2-3'}}</h4>
<h4>{{numValue | number:'3.4-5'}}</h4>
<h4>{{numValue | number:'3.1-2'}}</h4>

<h4>{{0.25 | percent}}</h4>
<h4>{{25 | currency}}</h4>
<h4>{{25 | currency:'INR'}}</h4>
<h4>{{25 | currency:'IN':'code'}}</h4>