.text-success{
    color: green;
}

.text-danger{
    color:red;
}

.text-special{
    font-size: 20px;
    font-style: italic;
}

.child{
    flex: 50%;
    border: 1px dotted red;
    margin:2px;
}

.active{
    color:brown;
}

a{
    color:gray;
}